# Dependencies
node_modules

# Build files
.output
.nuxt
.nitro
.cache
.virtual
.turbo
dist
build
tsx-0
node-jiti

# Logs
logs
*.log

# Miscellaneous
.DS_Store
.fleet
.idea

# Local environment files
.env
.env.*
!.env.example
