auto-install-peers=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*markdownlint*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*playwright*
public-hoist-pattern[]=czg
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=sass
public-hoist-pattern[]=postcss*
public-hoist-pattern[]=@master/*
