# Dependencies
**/node_modules

# Build files
**/.output
**/.nuxt
**/.nitro
**/.cache
**/.virtual
**/.turbo
**/dist
**/build
**/tsx-0
**/node-jiti
**/coverage

# Logs
**/logs
**/*.log

# Miscellaneous
**/.DS_Store
**/.fleet
**/.idea
pnpm-lock.yaml

# Local environment files
**/.env
**/.env.*
**/!.env.example

# Markdown files
**/*.md
**/*.mdx
