// Reset and normalize styles

// Root elements
// html,
// body {
//   width: 100vw;
//   height: 100vh;
//   padding: 0;
//   margin: 0;
//   overflow-x: hidden;
//   overflow-y: auto;
//   overscroll-behavior-y: contain;
//   user-select: none;
//   -webkit-tap-highlight-color: transparent;
// }
